
html { 
background: url(../img/Alone-in-the-fields.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#logo
{
	height: 77px;
	width: 150px;
	margin-top: -15px;	
}
.container-fluid
{
	background-color: #352e2c;
}

#menu.navbar.navbar-default
{
	border-color: #352e2c;
}

div.container-fluid
{
	height: 76px;
}
div.panel-default
{
	
}

