html{
			background-color: #352e2c;
			margin: 0;
			overflow-x: hidden;
		}
		
		
		
		#top{
			background-color: #352e2c;
			width: 828px;
			height: 243px;
			margin: auto; 
			position: relative;
			top: 50px;
		}
		
		h1.text-center{
			color: white;
		}

		.rowd{
			position: absolute;
			margin: auto;
			width: 828px;
			height: 243px;
		}
		.row div{
			display: block;
			
		}
		
		#form{
			position: relative;
			top: 150px;
			margin: auto;
			width: 640px;
			min-height: 300px;
			height: auto;
		}
		.row{
			margin: 0;
			padding: 0;
		}
		*{
			margin: 0;
			padding: 0;
		}
		form div{
			margin: auto;
			width: 800px;
		}
		#loader{
			position: absolute;
			bottom: 10px;
			left: 45px;
			-webkit-transition: -webkit-transform 2s; 
    		transition:  transform 2s;
		}
		#loader:hover {
		    -webkit-transform: rotate(360deg); 
		    transform: rotate(360deg);
		}

		@media screen and (min-width: 360px) and (max-width: 767px){
			#logo{
				width: 80%;
				height: auto;
				margin-left: 8%;
			}
			#loader{
				width: 14%;
				height: auto;
				 top: 35px; 
				 //padding-right: 12%;
			}
			#top{
				background-color: #352e2c;
				width: 100%;
				height: auto;
				margin: auto; 
				position: relative;
				top: 50px;
			}
			#form{
				position: relative;
				top: 150px;
				margin: auto;
				width: 100%;
				//min-height: 300px;
				height: auto;
			}
			form div{
			margin: auto;
			width: 100%;
		}
		.rowd{
			position: absolute;
			margin: auto;
			width: 100%;
			height: auto;
		}
	}

@media screen and  (max-width: 359px){
	#logo{
				width: 80%;
				height: auto;
				margin-left: 8%;
			}
			#loader{
				width: 13%;
				height: auto;
				 top: 33px; 
			}
			#top{
				background-color: #352e2c;
				width: 100%;
				height: auto;
				margin: auto; 
				position: relative;
				top: 50px;
			}
			#form{
				position: relative;
				top: 150px;
				margin: auto;
				width: 100%;
				//min-height: 300px;
				height: auto;
			}
			form div{
			margin: auto;
			width: 100%;
		}
		.rowd{
			position: absolute;
			margin: auto;
			width: 100%;
			height: auto;
		}
}